{
    "name": "mainnet",
    "account_map": {
        "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045": "Assets:Ethereum:0xd8da"
    },
    "fee_account": "Expenses:Fees",
    "expenses_account": "Expenses:Other",
    "income_account": "Income:Other",
    "block_explorer_api_url": "http://api.etherscan.io/api",
    "block_explorer_api_key": "ABCD1234",
    "block_explorer_api_request_delay": 0,
    "base_currency": "ETH",
    "currency_map":  {
        "USDC.E": {"commodity": "USD", "account_suffix": "USDC"},
        "WETH.E": {"commodity": "ETH"}
    }
}